<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="styles/flip.css">


		<style>

		 html, body, #container{
		 	margin: 0px;
		 	padding: 0px;
		 	width: 100%;
		 	height: 500px;
		 }

		</style>

	</head>
	<body>
		<div id='container'></div>

		<script src='js/cube/cuber.min.js'></script>
		<script src='js/photon.js'></script>
		<script src='//code.jquery.com/jquery-2.1.1.min.js'></script>

		<script>

			var container 	= document.querySelector( '#container' ),
				cube 		= new ERNO.Cube();
				light 	= new Photon.Light( 10, 0, 100 );

			container.appendChild( cube.domElement );
		</script>
	</body>
</html>
